.wrapper{
    background: #EEE;
    height: 620px;
    width: 1200px;
}
.card{
    background: lightskyblue;
    width: 200px;
    height: 275px;
    display: inline-block;
    margin: 25px;
    margin-top: 10px!important;
}
